body{
  margin: 0;
  padding: 0;
    font-family: cuprum;
    font-size: inherit;
    color: inherit;
    line-height: normal;
    font-weight: normal;
}

.offer-category{
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;

}

.btn-up .btn-down{
  font-size: 0;
}

.slider-btn-next .slider-btn-now{
  font-size: 0;
}
